body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}

div,
header,
section {
    box-sizing: border-box;
}

pre,code {
    color: $code;
}
